.container {
    display: flex;
    justify-content: flex-end;
    align-items:flex-end;
    min-height: 100vh;

    padding-bottom: 200px;
    padding-right: 100px;
}

.blob {
    position: absolute;
    width: 700px;
    height: 700px;
}

.blob:nth-child(2) {
    filter: blur(300px);
}

@media screen and (max-width: 1450px) {
    .container {
        padding-right: 30px;
    }
}